
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');


* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar{
  top:0;
  width: 100%;
  height: 10%;
}
.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, #100f15 0, transparent 50%), 
    radial-gradient(at 50% 0%, #2f3e6a 0, transparent 50%), 
    radial-gradient(at 100% 0%, #722741 0, transparent 50%);
    height: 100vh;
  }

  .logo {
    width: 60px;
    margin: 0px 156px 0px 0px;
}
  .container{
    display: flex;
    flex-direction: row;
  }
.logo-container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1%;
}
.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
    background-image:#ff0000;background-image:  
    radial-gradient(at 40% 20%, hsla(239,100%,74%,1) 0, transparent 50%),  
    radial-gradient(at 80% 0%, hsla(273,84%,25%,1) 0, transparent 50%),  
    radial-gradient(at 7% 20%, hsla(3,71%,40%,1) 0, transparent 50%),  
    radial-gradient(at 80% 50%, hsla(191,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 0% 100%, hsla(233,100%,77%,1) 0, transparent 50%),  
    radial-gradient(at 89% 95%, hsla(93,100%,70%,1) 0, transparent 50%),  
    radial-gradient(at 0% 0%, hsla(194,100%,76%,1) 0, transparent 50%);
}
.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Dropdown Button */
.dropbtn {
  color: #fff;
  background-color: inherit;
  background-image: inherit;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100px;
  border-radius: 15px;
  display: flex;
  margin-right: 0;
}
.centerlogo{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.target{
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: row;
}

.to-input{
  position: relative;
  border: none;
  margin-top: 5%;
  margin-left: 3%;
  height: 50%;
  color: rgb(54, 46, 46);
  padding: .5rem;
  width: 90%;
  border-radius: 10%;
  background-color: #25212167;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
}
.connect-wallet{
  color: white;
  margin-top: 10%;
  height: 7%;
  width: 50%;
  align-self: center;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #722742, #552440, #391f37, #211928, #100f15);

}
input[type=text]:focus{
  border:none;
}
input::placeholder{
  font-size: 1rem;
}
.from{
  
  height: 30%;
  width: 100%;
  padding: 3% 0 0 0% ;

}
.target{
  padding-left: 1.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}
.centerlogo{
  height: 8%;
  width: 100%;


}
.to-section{
  height: 30%;
  width: 100%;
 

}
.arrow{
  padding-top: 13px;
  margin-right: 10px;
}
.button-container{
  margin: 10% 0% 0% 10%;
  border: 1px solid rgb(20, 16, 16);
  padding: 2px;
  border-radius: 10px;
  width:100%;
  display: flex;
  color: #fff;
  background-image: linear-gradient(to right top, #722742, #552440, #391f37, #211928, #100f15);
}
.sec-container{
  height: 90%;
  width: 50%;
  border: #494646 solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 5%;  
}
.main-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}
.button-to{
  width: 100% !important;
}
.to-content{
  margin-left: 10%;
}
.chain-logo{
  width: 20px;
  margin-right: 5px;
}
.currentinput{
  align-self: flex-end;
  margin-left: 50%;
  
}
.eth{
  width: 15px;
  margin: 5px;
  margin-top: 0;
  padding-top: 0;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:#3ea9d3b6 solid 3px ;
  height: 10%;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
dropdown-to{
  width: 400% !important;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  border-radius: 10px;
  position: absolute;
  color: #000000;
  background-color:  #969ba7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

::-webkit-scrollbar{
  width: .6rem;
  background-color: rgba(127, 153, 132, 0.829);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color:  rgba(99, 190, 119, 0.671);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(99, 190, 119);
}
/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  outline: none;
  border: none;
}
.target-cont{

  background-color: #242529;
  padding: .3rem;
  border-radius: 10px;
}
.currentinput{
  background-color: #242529;
  padding: .3rem;
  border-radius: 10px;}
/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .button-container  {background-color: #080a08;}



@media (max-width:420px) {
  .sec-container{
    width: 90%;
  }
  .currentinput{
    align-self: flex-end;
    margin-left: 15%;
    
  }
  .connect-wallet{
    margin-top: 20%;
  }
  .logo {
    width: 60px
;
    margin: 0 0 0 57%;
}
.target-cont{
  font-size: 1rem;
}
.currentinput{
  font-size: 1rem;}
  
}